<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rezafd.cobaback">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Prestasi"
            android:label="Prestasi"
            android:parentActivityName=".Activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Login"
            android:label="Login" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="Main Menu" />
        <activity
            android:name=".Activity.Narasumber"
            android:label="Narasumber"
            android:parentActivityName=".Activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Pekerjaan"
            android:label="Pekerjaan"
            android:parentActivityName=".Activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Penelitian"
            android:label="Penelitian"
            android:parentActivityName=".Activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Pm"
            android:label="Pm"
            android:parentActivityName=".Activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Quesioner"
            android:parentActivityName=".Activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Register"
            android:label="Setting"
            android:parentActivityName=".Activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Setting"
            android:label="Setting"
            android:parentActivityName=".Activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.ChangePassword"
            android:label="Change Password"
            android:parentActivityName=".Activity.Setting">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.Setting" />
        </activity>
        <activity android:name=".Activity.insertque"></activity>
    </application>

</manifest>